.projetos .container-projetos {
    display: grid;        
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 0 auto;
    grid-gap: 20px;       
}


.projetos .container-projetos .projeto {
    border-radius: 5px;
    transition: all 0.3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    position: relative;
    box-shadow: 0px 0px 7px 0.001px var(--cor-destaque);
}

@media(max-width:425px){
    .projetos .container-projetos .projeto {
    height: 100%;
}
}

.projetos .container-projetos .projeto:hover,
.projetos .container-projetos .projeto:hover .informacoes-projeto {
    opacity: 1;
    font-weight: 700;
    box-shadow: 0px 0px 20px 2px var(--cor-destaque);
}

.projetos .container-projetos .projeto img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
}

.projetos .container-projetos .projeto:hover img {
    opacity: 0;
}

.projetos .container-projetos .projeto:hover .hover-image{
    opacity: 0.4;
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

.projetos .container-projetos .projeto .informacoes-projeto {
    padding: 20px 20px;    
    background-color: var(--cor-fundo-escuro);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;    
    transition: all .3s ease;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: var(--cor-destaque);
}

.projetos .container-projetos .projeto .informacoes-projeto p:nth-child(2) {
    font-weight: 500;
    margin-top: 10px;
    font-size: 1.4rem;
}

.projetos .container-projetos .projeto h3 {
    font-size: 2rem;
    font-weight: 500;    
    position: absolute;      
    opacity: 0.7;
    background-color: var(--cor-de-fundo-item);
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    bottom: 0;
}


@media(max-width: 1280px) { 
    .projetos .container-projetos {
        padding: 0 var(--mobile-padding);
        justify-content: center;
    }

    .projetos .container-projetos .projeto {
        height: 80vh;
    }

    .projetos .container-projetos .projeto img {
        width: 100%;
    }


}
